@import 'constants'; 
$font-big: 1.5rem;
$font-small: 1rem;

.header {
  top: 0;
  height: 2rem;
  padding: 5px;
  position: sticky;
  background-color: $site-white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  margin-bottom: 50px;
}
.header-big {
  font-size: $font-big;
}
.header-small {
  font-size: $font-small;
}
// flex container
.header-item {
  margin: 0 1.5rem;
  cursor: pointer;
}

.header-icon {
  color: $site-black;
}
